// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .anuncios_user
 {
 	display: none;
 }

 .sortable1 thead
 {

     			cursor: pointer;
                cursor: -moz-pointer;
                cursor: -webkit-pointer;
 }

